@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown {
  & h3 {
    color: #b877db;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
}

.text-shadow-sm {
  text-shadow: 1px 1px 2px #16161c;
}

.text-shadow-md {
  text-shadow: 2px 2px 3px #16161c;
}

.text-shadow-lg {
  text-shadow: 3px 3px 4px #16161c;
}
